
/* Import fonts */
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Title Section on left of page */
.title_area {
    border: 3px solid yellow;
    width: 600px;
    height: auto;
    position: relative;
    padding: 10px;
    margin-top: 60px;
}

.title_area_hero {
    --heroColor: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
    background-color: var(--heroColor);
    color: white;
    padding: 10px 0;
    position: absolute;
    top: 200px;
    width: 600px; 
}

#title_area_leftBanner {
    width: 100px;
    padding-right: 10px;
}

h1.title_area_title {
    font-family: "Marcellus", serif;
    font-size: 46px;
}

#title_area_backgroundImg {
    width: 600px;
    position: relative;
    z-index: 0;
}

.title_area_photoCredit {
    z-index: +1;
    position: absolute;
    bottom: 75px; left: 200px;
}

p > a {
    color: white;
}

/* Form Section */
.form_area {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding-top: 10px;
    padding-left: 30px;
    max-width: 980px;
}

.form_area_text {
    margin-top: 100px;
}
div.form_area_text > h2:last-child {
    margin-top: 30px;
}

form#signUp {
    margin-top: 30px;
}

label[for="form"] {
    font-size: 30px;
}

