
/* Import fonts */
.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Title Section on left of page */
.title_area {
    width: 600px;
    height: auto;
    position: relative;
    padding: 10px;
    margin-top: 60px;
}

.title_area_hero {
    --heroColor: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
    background-color: var(--heroColor);
    color: white;
    padding: 10px 0;
    position: absolute;
    top: 200px;
    width: 600px; 
}

#title_area_leftBanner {
    width: 100px;
    padding-right: 10px;
}

h1.title_area_title {
    font-family: "Marcellus", serif;
    font-size: 46px;
}

#title_area_backgroundImg {
    width: 600px;
    position: relative;
    z-index: 0;
}

.title_area_photoCredit {
    z-index: +1;
    position: absolute;
    bottom: 75px; left: 200px;
}

p > a {
    color: white;
}

/* Form Section */
.form_area {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 30px;
    max-width: 880px;
}

.form_area_text {
    margin-top: 100px;
    max-width: 65ch;
}
div.form_area_text > h2:last-child {
    margin-top: 40px;
}

form#signUp {
    margin-top: 40px;
    max-width: 600px;
}

label[for="form"] {
    font-size: 26px;
}

.form {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    
}

.signUp_names {
    margin-top: 15px;
}

.form_row_item {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.form_row_item label {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 3px;

}

.form_row_item input {
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
    font-size: 16px;
    box-shadow: -2px 2px 2px silver;
  }

/* creates new variable color for button and log in link */
@property --button_color {
    syntax: "<color>";
    inherits: false;
    initial-value: #556B2F;
}

input:focus {
    border: 1px solid blue;
    border-radius: 3px;
    box-shadow: -1px 1px 1px blue;
}

.form_row_item input:user-invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
}

.password_info {
    font-size: 14px;
    max-width: 28ch;
}

button#signUp {
    margin-top: 90px;
    margin-bottom: 30px;
    padding: 15px 70px;
    border-radius: 8px;
    background-color: var(--button_color);
    font-size: 18px;
    font-weight: bold;
}

div.form_area_signIn {
    font-size: 18px;
}
div.form_area_signIn > a {
    color: var(--button_color);
}